# Project exclude paths
/day41/target/
/day41.1/target/
/day42/target/
/day42.1/target/
/day43/target/
/day43.1/target/
/day44/target/
/day44.1/target/
/day45/target/
/day45.1/target/
/day46/target/
/day47/target/
/day48/target/
/day49/target/
/day49.1/target/
/day50.1/target/
/day51/target/